{{- $realname := promptStringOnce . "realname" "Real Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    realname = {{ $realname | quote }}
